doctype html 
html

head 
    title Pagina no encontrada 
    link(rel="stylessheet","styles.css")
    metaf(charset="UTF-8")

body
    h1
        a(href="/") Regresar al home
    h2 No tenemos la raza '#{texto}' en nuestra pagina
